:root {
    --db-footer: #000000;
    --db-button: #0061FF;
    --db-florida: #0093CE;
    --db-lonelyplanet: #0D2481;
    --db-asu: #61082B;
    --db-language: #6A6A6A;
    --db-designit: #A2D39B;
    --db-jumbo: #B4D0E7;
    --db-worldbicycle: #D5001F;
    --db-designitlarge: #F5F5F5;
    --db-topps: #FF1C1C;
    --db-clearchannel: #FFD830;
    --db-white: #FFFFFF;
    --db-lightgrey: #c4c4c4;
    --db-border: #ECECEE;
    --db-borderdesign: #D1E9CD;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

.row {
    display: flex;
    justify-content: space-between;
}

img {
    width: 100%;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }
/* #region COLUMN */

    .col_2 {
        width: calc(100% / 12)*2;
    }

    .col_3 {
        width: calc(100% / 12)*3;
    }

    .col_4 {
        width: calc(100% / 12)*4;
    }

    .col_6 {
        width: calc(100% / 12)*6;
    }
    
    .col_8 {
        width: calc(100% / 12)*8;
    }
    
    .col_9 {
        width: calc(100% / 12)*9;
    }

    .col_12 {
        width: calc(100% / 12)*12;
    }
    
    /* #endregion COLUMN */
    
    
header {
    width: 100%;
    padding: 1rem;
    background-color: var(--db-white);
    position: fixed;
    z-index: 1;
}

.hd_logo {
    vertical-align: middle;
    padding-right: 1rem;
    width: 25%;
}
    
.links {
        display: inline-block;
}

header a {
    text-decoration: none;
    color: #000000;
    padding: 1rem;
}

button {
    background-color: var(--db-button);
    border: none;
    border-radius: 1rem;
    padding: 0.4rem 0.8rem;
    color: var(--db-white);
    font-size: 10px;
}

button:hover {
    box-shadow: 3px 8px 6px #222222;
    background-color: var(--db-asu);
    cursor: pointer;
}

.partner_button:hover {
    box-shadow: 3px 8px 6px #222222;
    background-color: rgb(190, 136, 136);
    cursor: pointer;
}
/* #region JUMBO */
.jumbotron {
    background-color: var(--db-jumbo);
    text-align: center;
}

h1 {
    font-size: 70px;
    padding-top: 8rem;
}

.jb_container {
    width: 60%;
    margin: 0 auto;
    text-align: start;
    background-color: var(--db-jumbo);

}


.drop_info, .jumbo_img {
    padding-top: 2rem;
}

.drop_info {
    padding-right: 1.5rem;
    width: 300px;
}

.drop_info button {
    margin-top: 2rem;
}

.cancel {
    padding-top: 1rem;
    padding-bottom: 2rem;
}

.arrow {
    background-color: transparent;
    color:#000000;
    font-size: 30px;
}

.jb_img {
    width: 600px;
    position: absolute;
    left: 550px;
    top: 450px;
}
/* #endregion JUMBO */
 
/* #region MAIN */
.container {
    width: 50%;
    margin: 0 auto;
    padding-top: 6rem;
}

.business_plan h3 {
    font-size: 36px;
}

.ck_blue {
    border: 6px solid var(--db-button);
    font-size: 3px;
    padding: 0.2rem 0.3rem;
    
}

.check {
    border-radius: 50%;
    margin-right: 0.3rem;
    vertical-align: middle;
}

.ck_empty {
    border: 1px solid var(--db-language);
    font-size: 8px;
    padding: 0.2rem 0.5rem;

}

.billing {
    padding-right: 3rem;
}

.fatturazione {
    padding-top: 3rem;
    padding-bottom: 3rem;
    padding-right: 0.5rem;
    display: inline-block;
}
/* #endregion MAIN */

.users, .level {
    border: 1px solid var(--db-border);
}

.users {
    text-align: center;
    padding: 0.5rem;
}

.level {
    
    border-top: none;
    width: 200px;
    height: 650px;
}

.level h4, .cost, .month, .user, .cloud, .share, .contact {
    padding-top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    
}

.month, .user, .cloud, .share, .contact, .buynow {
    font-size: 10px;
}


.month {
    color: #c4c4c4;
}

.level button {
    margin-top: 2rem;
    margin-bottom: 1.5rem;
    font-size: 10px;
    padding: 0.5rem 1.5rem;
    margin-left: 1.2rem;
}

.card_azienda button {
    padding: 0.5rem 3.6rem;
}

.level a, .companies a {
    text-decoration: none;
    color: var(--db-button);
}

.level h4 {
    font-size: 16px;
}

.otherwise {
    margin-left: 1rem;
    padding-bottom: 2rem;
    border-bottom: 1px solid #c4c4c4;
}

.prime {
    padding-top: 5rem;
    padding-left: 1rem;
}

.prime h5 {
    margin-bottom: 0.5rem;
}

.prime li {
    list-style: none;
    font-size: 10px;
    padding-top: 1rem;
}

li i{
    color: var(--db-button);
}

/* .card_enterprise {
    padding-top: 1rem;
} */

.rw_team2 {
    margin-top: 1rem;
    width: 100%;
    flex-direction: column;
}


.card_team2 {
    padding-top: 1rem;
    border: 1px solid #ECECEE;
    border-top: none;
    height: 150px;
    text-align: start;
}

.team_enterprise {
    display: flex;
    justify-content: space-between;
}

.team_enterprise h4 {
    padding-left: 1rem;
}

.team_enterprise h4, .task h4 {
    font-size: 16px;
}

.team_enterprise button {
    margin-right: 1rem;
    padding: 0.5rem 1.5rem;
}

.cost, .contact {
    font-size: 10px;
}

.contact p {
    margin-top: 2rem;
}

.img_partner {
    width: 60%;
    float: left;
    padding-right: 2.5rem;
}

.partner_info h4 {
    padding-top: 2rem;
    margin-bottom: 1rem;
    font-size: 16px;
}

.partner_info p {
    padding-right: 1rem;
    font-size: 12px;
}

.partner_button {
    background-color: var(--db-white);
    color: black;
    border: 1px solid black;
    margin-top: 2rem;
}

.rw_task {
    gap: 30px;
}

.task h3, .companies h3{
    font-size: 25px;
    margin-bottom: 2rem;
}

.task h4 {
    font-size: 15px;
    margin-bottom: 1rem;
}

.task p {
    font-size: 10px;
}

.task .col_4 {
    padding-top: 2rem;
}

.companies h3 {
    padding-right: 10rem;
}

/* .lg_team {
    display: flex;
    
} */

.left, .right {
    margin-top: 5rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100vw;
}


.box {
    flex-basis: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    aspect-ratio: 1/1;
}

.lg_team img {
    width: 100px;
} 

path {
    fill: var(--db-white);
}

.box1 {
    background-color: var(--db-designit);
    border: 10px solid var(--db-borderdesign);
}

.box2 {
    background-color: var(--db-asu);
}

.box3 {
    background-color: var(--db-florida);
}

.box4 {
    background-color: var(--db-topps);
}

.box6 {
    background-color: var(--db-worldbicycle);
}

.box7 {
    background-color: var(--db-jumbo);
}

.box8 {
    background-color: var(--db-lonelyplanet);
}

.box9 {
    background-color: var(--db-clearchannel);
}

.center {
    display: flex;
    width: 100vw;
    margin-top: 5rem;
}

.box5 img{
    width: 200px;
}

.box5 {
    padding: 2rem;
    background-color: var(--db-designitlarge);
}

.info_company .rw{
    display: inline-block;
    margin-top: 2rem;
    color: var(--db-lightgrey);
}

.info_company p {
    margin-top: 3rem;
    font-size: 12px;
    margin-bottom: 2rem;
}

.heading {
    font-size: 12px;
    padding-bottom: 2rem;

}

.container_trial {
    width: 60%;
    margin: auto;
    padding-top: 6rem;
}

.trial {
    background-color: var(--db-jumbo);
}

.trial h3 {
    font-size: 25px;
    color:  var(--db-asu);
    padding-right: 2rem;
}

.trial_bt button {
    background-color: var(--db-white) ;
    color: var(--db-footer);
    padding: 0.5rem 2rem;
}

.rw_trial {
    padding-bottom: 5rem;
}

.trial_title {
    flex-basis: 60%;
}


.faq h3 {
    font-size: 25px;
    margin-bottom: 2rem;
}

.faq h6 {
    margin-bottom: 2rem;
    padding-top: 2rem;
    font-size: 10px;
    border-top: 1px solid;

}

.question_3{
    border-bottom: 1px solid;
    margin-bottom: 6rem;

}

.ask i {
    margin-left: 8rem;
}

.answer {
    display: none;
    font-size: 10px;
    padding-bottom: 2rem;

}

.ask h6:hover {
    cursor: pointer;
}

.ask h6:hover + .answer {
    display: block;
   
    transition: all 3s ease 0s;
    
}

footer {
    background-color: var(--db-footer);
    color: white;
}

.container_ft {
    width: 60%;
    margin: auto;
    padding-top: 5rem;
    
}

.rw_ft li{
    list-style: none;
    font-size: 10px;
    padding-bottom: 0.5rem;
}

.rw_ft a {
    text-decoration: none;
    color: var(--db-white)
}

.rw_ft h4 {
    margin-bottom: 1rem;
}

.lg_change {
    padding-top: 6rem;
    font-size: 10px;
    padding-bottom: 3rem;

}

.language {
    border-top: 1px solid white;
    padding-top: 1.5rem;
    color:  var(--db-language);
}

.lg_change i {
    padding-right: 0.25rem;
} 

.lg_change ul{
    display: none;
}

.language:hover + ul{
    cursor: pointer;
    display: block;
}

.lg_change li {
    list-style: none;
}

.lg_change a {
    text-decoration: none;
    color: #6A6A6A;
}