:root {
    --db-footer: #000000;
    --db-button: #0061FF;
    --db-florida: #0093CE;
    --db-lonelyplanet: #0D2481;
    --db-asu: #61082B;
    --db-language: #6A6A6A;
    --db-designit: #A2D39B;
    --db-jumbo: #B4D0E7;
    --db-worldbicycle: #D5001F;
    --db-designitlarge: #F5F5F5;
    --db-topps: #FF1C1C;
    --db-clearchannel: #FFD830;
    --db-white: #FFFFFF;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;

}

.row {
    display: flex;
    justify-content: space-between;
}

img {
    width: 100%;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }
/* #region COLUMN */

    .col_2 {
        width: calc(100% / 12)*2;
    }

    .col_3 {
        width: calc(100% / 12)*3;
    }

    .col_4 {
        width: calc(100% / 12)*4;
    }

    .col_6 {
        width: calc(100% / 12)*6;
    }
    
    .col_8 {
        width: calc(100% / 12)*8;
    }
    
    .col_9 {
        width: calc(100% / 12)*9;
    }
    
    /* #endregion COLUMN */
    
    
header {
    padding: 1rem;
}

.hd_logo {
    vertical-align: middle;
    padding-right: 1rem;
    width: 25%;
}
    
.links {
        display: inline-block;
}

header a {
    text-decoration: none;
    color: #000000;
    padding: 1rem;
}

button {
    background-color: var(--db-button);
    border: none;
    padding: 0.4rem 0.8rem;
    color: var(--db-white);
    font-size: 10px;
}

/* #region JUMBO */
.jumbotron {
    background-color: var(--db-jumbo);
    text-align: center;
}

h1 {
    font-size: 50px;
    padding-top: 3rem;
}

.jb_container {
    width: 60%;
    margin: 0 auto;
    text-align: start;
    background-color: var(--db-jumbo);
}

.drop_info, .jumbo_img {
    padding-top: 2rem;
}

.drop_info {
    padding-right: 1.5rem;
    width: 300px;
}

.drop_info button {
    margin-top: 1rem;
}

.cancel {
    padding-top: 1rem;
}

.arrow {
    background-color: transparent;
    color:#000000;
    font-size: 30px;
    padding-top: 2rem;
}

.jumbo_img {
    position: absolute;
}

.jb_img {
    width: 550px;
    position: relative;
    left: 300px;
}
/* #endregion JUMBO */
 
/* #region MAIN */
.container {
    width: 50%;
    margin: 0 auto;
    padding-top: 6rem;
}

.business_plan h3 {
    font-size: 30px;
}

.ck_blue {
    border: 4px solid var(--db-button);
    font-size: 5px;
    padding: 0.1rem 0.35rem;
    
}

.check {
    border-radius: 50%;
    margin-right: 0.3rem;
    vertical-align: middle;
}

.ck_empty {
    border: 1px solid var(--db-language);
    font-size: 8px;
    padding: 0.1rem 0.45rem;

}

.billing {
    padding-right: 3rem;
}

.fatturazione {
    padding-top: 3rem;
    padding-bottom: 3rem;
    padding-right: 0.5rem;
    display: inline-block;
}
/* #endregion MAIN */


.users {
    border: 1px solid #ECECEE;
    text-align: center;
    padding: 0.5rem;
}

.level {
    border: 1px solid #ECECEE;
    border-top: none;
    width: 200px;
    height: 650px;
}

.col_4 h4, .cost, .month, .user, .cloud, .share, .contact {
    padding-top: 1rem;
    padding-left: 1rem;
    
}

.month, .user, .cloud, .share, .contact {
    font-size: 10px;
}


.month {
    color: #c4c4c4;
}

.level button {
    margin-top: 2rem;
    margin-bottom: 1.5rem;
    font-size: 10px;
    padding: 0.5rem 2rem;
    margin-left: 1rem;
}

.card_enterprise button {
    padding: 0.5rem 4rem;
}

.level a {
    text-decoration: none;
    color: var(--db-button);
}

.level h4 {
    font-size: 16px;
}

.otherwise {
    margin-left: 1rem;
    padding-bottom: 2rem;
    border-bottom: 1px solid #c4c4c4;
}

.prime {
    padding-top: 5rem;
    padding-left: 1rem;
}

.prime h5 {
    margin-bottom: 0.5rem;
}

.prime li {
    list-style: none;
    font-size: 10px;
    padding-top: 1rem;
}

li i{
    color: var(--db-button);
}

.card_enterprise {
    padding-top: 1rem;
}

.rw_team {
    margin-top: 1rem;
    width: 100%;
    flex-direction: column;
}

.card_team h4 {
    display: inline-block;
    justify-content: space-between;
}

.card_team {
    padding-top: 1rem;
    border: 1px solid #ECECEE;
    border-top: none;
    height: 150px;
    text-align: start;
}

.team_enterprise {
    display: flex;
    justify-content: space-between;
}

.team_enterprise h4 {
    padding-left: 1rem;
    font-size: 16px;
}

.team_enterprise button {
    margin-right: 1rem;
}

.card_team p {
    padding-top: 2rem;
}

.cost, .contact {
    font-size: 10px;
}

.contact {
    width: 70%;
}


.img_partner {
    width: 60%;
    float: left;
    padding-right: 2.5rem;
}

.partner_info h4 {
    padding-top: 2rem;
    margin-bottom: 1rem;
    font-size: 16px;
}

.partner_info p {
    padding-right: 1rem;
}

.partner_button {
    background-color: var(--db-white);
    color: black;
    border: 1px solid black;
    margin-top: 1rem;
}