:root {
    --db-footer: #000000;
    --db-button: #0061FF;
    --db-florida: #0093CE;
    --db-lonelyplanet: #0D2481;
    --db-asu: #61082B;
    --db-language: #6A6A6A;
    --db-designit: #A2D39B;
    --db-jumbo: #B4D0E7;
    --db-worldbicycle: #D5001F;
    --db-designitlarge: #F5F5F5;
    --db-topps: #FF1C1C;
    --db-clearchannel: #FFD830;
    --db-white: #FFFFFF;
    --db-lightgrey: #c4c4c4;
    --db-border: #ECECEE;
    --db-borderdesign: #D1E9CD;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

img {
    width: 100%;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.container_main {
    width: 70%;
    margin: 0 auto;
    padding-top: 6rem;
}

.container_large {
    width: 60%;
    margin: 0 auto;
    background-color: var(--db-jumbo);
    padding-top: 6rem;
}

.col_6 {
    width: calc((100% /12)*6);
}
/* #region BUTTONS */
a {
    text-decoration: none;
    color: white;
}

.button {
    background-color: var(--db-button);
    border: none;
    border-radius: 1rem;
    padding: 0.4rem 0.8rem;
    color: var(--db-white);
    font-size: 12px;
    transition: background-color 0.7s;
    transition: box-shadow 0.7s;
}

.button:hover {
    box-shadow: 3px 4px 5px #222222;
    background-color: rgb(190, 136, 136);
    cursor: pointer;
    color: black;


}

/* #endregion BUTTONS */

 /* #region HEADER */
header {
    width: 100%;
    padding: 1rem;
    background-color: var(--db-white);
    position: fixed;
    z-index: 1;
}

.hd_logo {
    vertical-align: middle;
    padding-right: 1rem;
    width: 25%;
}
    

header a {
    text-decoration: none;
    color: #000000;
    padding: 1rem;
}

.nav_right {
    text-align: end;
}

.menu {
    display: inline;
}

.menu .link{
    display: inline;
}

.link ul{
    display: none;
    list-style: none;
}

.link li {
    padding: 1rem;
}

.link:hover .item1{
    display: block;
    position: absolute;
    z-index:1;
    left: 150px;
    background: rgba(255, 255, 255, 0.954);
    padding: 1rem;
}

.link:hover .item2 {
    display: block;
    position: absolute;
    z-index:1;
    left: 300px;
    background: rgba(255, 255, 255, 0.954);
    padding: 1rem;
}

.link:hover .item3 {
    display: block;
    position: absolute;
    z-index:1;
    left: 380px;
    background: rgba(255, 255, 255, 0.954);
    padding: 1rem;
}

li a:hover {
    color: var(--db-button);
}
/* #endregion HEADER */

/* #region LOGIN */

.login {
    margin-bottom: 6rem;
}

.login h1{
    text-align: center;
    font-size: 40px;
    font-family: 'Russo One', sans-serif;
    color: var(--db-button);
}

.icon img {
    width: 400px;
}

.icon {
    float: left;
}

.login_box {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 50%;
    margin: auto;
    background-color: rgba(114, 187, 255, 0.337);
    padding: 4rem;
    border-radius: 8px;
    box-shadow:0 0 10px #414141;
    transition: box-shadow 1s;
}

.login_box:hover {
    background-color: #007afc47;
    box-shadow: 5px 5px 15px 8px #3e3e3e;
}

.box_mail {
    padding-top: 2rem;
}

.mail, .pw {
    display: block;
    padding-bottom: 0.25rem;
    color: #6A6A6A;
    text-align: center;
}

.mail {
    position: relative;
    left: -86px
}

.pw {
    padding-top: 0.5rem;
    position: relative;
    left: -72px;
}

input[type="email"], input[type="password"] {
    border: 1px solid lightgray;
    border-radius: 4px;
    padding: 0.5rem 2rem;
}
 
.log {
    text-align: center;
    padding-top: 1rem;
}

.log .button {
    padding: 0.5rem 3rem;
}

.lg_google, .lg_apple {
    box-shadow:0 0 4px #414141;
    border-radius: 5px;
    background-color: white;
    text-align: center;
    margin-bottom: 0.5rem;
    transition: transform 1s;
}

.lg_google {
    padding: 0.5rem 2rem;
}

.lg_apple {
    padding: 0.5rem 2.35rem;
}
 
.lg_google:hover, .lg_apple:hover {
     transform: scale(1.2);
     box-shadow: 0 0 6px black;
}

.lg_google img, .lg_apple img {
    width: 30px;
    vertical-align: middle;
    position: relative;
    left: -20px;
}

.lg_google a, .lg_apple a{
    color: black;
}

.otherwise {
    color: gray;
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
}
/* #endregion LOGIN */

/* #region FOOTER */
footer, .c_ft {
    background-color: var(--db-footer);
    color: white;
}

.rw_ft {
    flex-wrap: nowrap;
}

.rw_ft li{
    list-style: none;
    font-size: 10px;
    padding-bottom: 0.5rem;
}

.rw_ft a {
    text-decoration: none;
    color: var(--db-white)
}

.rw_ft h4 {
    margin-bottom: 1rem;
}

.lg_change {
    padding-top: 6rem;
    font-size: 10px;
    padding-bottom: 3rem;
}

.language {
    border-top: 1px solid lightgray;
    padding-top: 1.5rem;
    color:  var(--db-language);
}

.lg_change i {
    padding-right: 0.25rem;
} 

.lg_change ul{
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear;
}

.language:hover {
    cursor: pointer;
    color: rgb(190, 136, 136);
}

.language:hover + ul{
    visibility: visible;
    opacity: 1;
}

.lg_change li {
    list-style: none;
}

.lg_change a {
    text-decoration: none;
    color: lightgray;
}
/* #endregion FOOTER */